* {
	box-sizing: border-box;
}
body {
	font-family: Tahoma, sans-serif;
	line-height: 1.5;
	color: #333333;
	text-align: center;
}
.header {
	margin-top: 80px;
	text-align: center;
	font-size: 24px;
}
.header span {
	font-weight: 300;
	display: block;
}
.header strong {
	font-weight: 900;
	text-transform: uppercase; 
}
.section {
	padding: 30px 10%;
}
.main {
	margin-top: 80px;
}
.video, .form {
	display: inline-block;
	vertical-align: top;
}
.form p {
	margin-bottom: 30px;
}
.form {
	margin-left: 30px;
	border: 5px solid blue;
	padding: 20px;
	text-align: center;
	font-weight: 900;
	font-size: 20px;
}
.form input {
	margin-top: 10px;
	width: 300px;
	padding: 15px;
	border: 1px solid #333;
	font-size: 18px;
	display: block;
}
.form button {
	font-size: 18px;
	font-weight: 900;
	background-color: blue;
	color: whitesmoke;
	width: 300px;
	padding: 20px;
	margin-top: 15px;
	border: none;
	height: 60px;
	margin-bottom: 14px;
}
.feature {
	margin-top: 60px;
}
.feature-header {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 24px;		
}
.column {
	margin: 50px 50px;
	display: inline-block;
}
.butt {
	font-size: 18px;
	font-weight: 900;
	background-color: blue;
	color: whitesmoke;
	width: 300px;
	padding: 20px;
	margin-top: 15px;
	border: none;
	height: 60px;

